extends layout

block content
  div(class='columns')
    div(class= 'import-export')
    div(class='main')
      h1(style='font-size: 40px;')= title
      p(style='font-size: 30px;') Веб-каталог небесных тел #{title}
      ui
        li
          button(class='main_buttons') Поиск
        li
          button(class='main_buttons') Мне повезет
        li
          button(class='main_buttons') Статистика
    div(class= 'import-export')
        button(class='import_buttons'): img(src="../stylesheets/src/import.png" class='im-ex-main')
        button(class='export_buttons'): img(src="../stylesheets/src/export.png" class='im-ex-main')
