doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/jquery/jquery.js")
    script(src="https://code.jquery.com/jquery-3.6.0.js")
    script(src="https://code.jquery.com/ui/1.13.0/jquery-ui.js")
    script(src="/javascripts/scripts.js")
  body
    div(class='wrapper')
      block content
