extends layout

block content
    div(class='search')
        button(class='b-back'): img(src="../stylesheets/src/back-arrow.png" class='search-img')
        form(class='search_form')
            input(type="text" id="search" name="search" class='input-s' placeholder="Введите название/pgs номер")
            button(class='b-back'): img(src="../stylesheets/src/pinpng.png" class='search-img')

    div(class='col')
        div(class= 'import-export-s')
            button(class='export_buttons'): img(src="../stylesheets/src/export.png" class='search-img')
        div(class='search-main')
            div(class='main-filters')
                h1 Фильтры
                div(id='accordion')
                    h3 Тип
                    div(class='filters')
                        p asdasdas
                    h3 Расстояние от солнца
                    div(class='filters')
                        p asdasdas
                        p asdasdas
                        p asdasdas
                        p asdasdas
                    h3 Широта и долгота
                    div(class='filters')
                        p asdasdas
                        p asdasdas

                    h3 Яркость
                    div(class='filters')
                    h3 Средняя угловая скорость
                    div(class='filters')
                        p asdasdas
                h1 Фильтры для галлактик
                div(id='accordion2')
                    h3 Тип галлактики
                    div(class='filters')
                    h3 Логарифм диаметра
                    div(class='filters')
            div(class='result-search-main')
                div(class='info-s')
                    h1 Результат поиска
                    a(class='min-b') След
                div(class='result-search')
                    //cycle: div(cardhold):div(card)x3
                        primer nishe na 6 cards
                    div(class='cardhold')
                        div(class='card')
                            h2 Название #{Name}
                            p Тип #{Type}
                            p Номер #{Num}

