<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/stylesheets/style.css') }}">
    <script src="{{ url_for('static',filename='styles/jquery/jquery.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script src="{{ url_for('static',filename='styles/javascripts/scripts.js') }}"></script>
</head>
<body>
    <div class="wrapper">
        <div class="search">
        </div>
        <div class="col">
            <div class="search-main">
                <div class="main-filters"></div>
                <div class="add-object">
                    <a href="/add_new_object">Добавить</a>
                </div>
                <div class="result-search-main">
                    <h1>Результаты поиска</h1>
                    {% for object in data.sky_objects %}
                    <div class="card">
                        <h2>Название: <a href="/sky_object?object_pgc={{object.pgc}}">{{object.name}}</a></h2>
                        <p>Тип: {{object.type}}</p>
                        <p>Номер: {{object.pgc}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="prev-next-links">
            {% if data.links.prev %}
            <a href="{{data.links.prev.href}}">Пред</a>
            {% else %}
            {% endif %}
            {% if data.links.next %}
            <a href="{{data.links.next.href}}">След</a>
            {% else %}
            {% endif %}
        </div>
    </div>
</body>